/* Website Colors */
:root {
  --primary-color: #000000;
  --secondary-color: #e50914 ;
  --text: #fff;
  --border: #222;
}
* {
  letter-spacing: 0!important;
}
body {
  color: var(--text);
  background: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
}

.card-title {
  font-size: 3.125rem;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  font-weight: 600;
}
.card-subtitle {
  font-weight: 400rem;
  font-size: 1.625rem;
}
h1 {
  font-size: 45px;
  /* font-size: 3.125rem; */
}

h1 {
  /* font-size: 45px; */
  font-size: 3.125rem;
}

/* Header */
.banner {
  background: url("https://uploads.codesandbox.io/uploads/user/8036c587-6c4e-41c7-9908-1ccb30624c29/FRhe-bgimage.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  /* opacity: 0.3; */
  z-index: -1;
  padding: 35px;
}


/* Navbar */
.navbar-container {
  display: block;
}
.logo {
  width: 134px;
  height: 36px;
  fill: var(--secondary-color);
  overflow: hidden;
  margin-top: 0.5rem;
  padding: 7px 17px;
}

.login {
  border: var(--secondary-color) solid;
  border-radius: 3px;
  color: var(--text);
  background: var(--secondary-color);
  text-decoration: none;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
  padding: 7px 17px;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin: 45px;
}


.btn a {
  text-decoration: none;
}



/* banner */
.banner .banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  height: calc(100%-45px);
  padding: 0 20px;
  word-spacing: normal;

}

.banner .banner-container {
  margin: 0 auto;
  max-width: 950px;
  padding: 75px 0;
  position: relative;
  text-align: center;
  width: 100;
  z-index: 1;
}

.banner-container{
  font-size: 20px;

}

.banner-container h3{
  font-size: 1em;
}

.h1 {
  margin: 0 auto;
  margin: auto 0;
  max-width: 640px;
}

#subscription {
  /* displa */
  font-size: 1.635rem;
  font-weight: 400;
  padding-bottom: 10px;
}
.get-started {
  height: 70px;
}
.get-started input{
  height: 70px;
  width: 450px;
  padding-left: 10px;
}
.get-started button {
  height: 110%;
  border: none;
  font-size: 1.625rem;
  background: var(--secondary-color);
  color: var(--text);
  min-height: 60px;
  padding: 26px 0;
}

.email-card {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 20px;
}
/* .btn{
  /* flex: 1 1 auto; */
  /*
  text-align: center;
  
  font-weight: 400;
  font-size: large;
  border: none;
} */
/* .btn button { */
  /* border: var(--secondary-color) solid; */
  /* border-radius: 3px; */
  /* color: var(--text);
  background: var(--secondary-color);
  text-decoration: none;
  margin-top: 0.5rem;
  padding: 7px 17px;
}  */
/* input {
  line-height: normal;
}
input, button{
  font: inherit;
  margin: 0;
} */
/* First Section After Banner */

#video {
  display: flex;
  /* border: 5px solid white; */
  border-bottom: 8px solid var(--border);
  border-top: 10px solid var(--border);
  padding: 70px 45px;
}
.attract {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.story-card{
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex: 0 1 auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.story-card video {
  position: absolute;
}
.story-card img{
  z-index: 1;
}


/* .story-card-img {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  height: 100%;

} */

/* Download your shows to watch offline. */
#offline {
  display: block;
  border-bottom: 10px solid var(--border);
  /* border-top: 10px solid ; */
}

/* Watch everywhere. */
#stream{
  border-bottom: 10px solid var(--border);
}

/* Create Account For Kids */
#kids {
  border-bottom: 10px solid var(--border);
}

/* Frequently Asked Questions */
#faq {
  border-bottom: 10px solid var(--border);
  display: block;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: right;
  height: 100%;
  padding: 0 20px
}
#faq .faq-card {
  border: 0;
  font-weight: 400;
  margin-bottom: 1px;
  padding: 0.8em 2.2em 0.8em 1.2em;
  position: relative;
  width: 100%;
}
#faq  li {
  text-decoration: none;
  list-style: none;
}
#faq  ul {
  text-decoration: none;
  list-style: none;
}

/* Footer */
.footer-items {
  /* Zaio */
  margin: 8 47.5px;
  padding: 70px 45px;
}

/* .footer {
  margin: 0 ;
} */
footer ul{
  text-decoration: none;
  list-style: none;
}

.footer-links li:hover, .question:hover{
  text-decoration: underline;
  color: var(--secondary-color);
  cursor: pointer;
}

.footer-links {
  box-sizing: border-box;
  /* font-size: 13px; */
  max-width: 1000px;
  columns: 4;
  padding: 0;
  
}

.footer-links li {
  font-size: 15px;
}


/* ul {
  /* display: block; */
  /* list-style-type: disc; */
  /* margin-block-start: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px; */
/* } */ 

.reference a{
  text-decoration: none;
  color: var(--text);
}

/* .reference:hover{
  pointer-events:unset;
} */

.language {
  display: flex;
  height: 53px;
  width: 142px;
  color: var(--border);
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--border);
  padding: 0 10px;
  margin-top: 30px;
}

.language select{
  padding: 10px;
  width: 100px;
  border: none;
  appearance: none;
  background: var(--primary-color);
  color: var(--text);
  background: url();
}

select#language {
  background: var(--primary-color);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select#classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}